/* use media queries for screen sizes 500px, 800px, 1200px */ 

/* body {
    background-color: tan;
    color: black;
  }
   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid red;
}

.background-card {

    display: flex;
    justify-content: center;
    border: 3px solid blue;

    /* 
        Horizontal align with justify-content
        justify-content: flex-start;
        vertically align with 
        align-items
    */
}

.card {
    border: 3px solid green;
    width: 30%;
}

  /* On screens that are 992px wide or less, the background color is blue */
  @media screen and (max-width:800px) {
    body {
      background-color: blue;
      color: white;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 500px) {
    body {
      background-color: olive;
      color: white;
    }
  }
